.c1 {
    width: 25%;
}
.c4 {
    width:75%;
}
.c5 {
    width: 100%;
}
/* Layout shifter va a tomar parte del contenido y lo va a agrupar, una vez agrupado, al igual que con el column drop, el contenido se colocará arriba, al lado del primer contenido */